<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="utf-8">
  <title>nagasaki45</title>
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/bulma/0.7.2/css/bulma.min.css">
  <script src="https://unpkg.com/ionicons@4.5.5/dist/ionicons.js"></script>
  <script src="https://cdn.jsdelivr.net/npm/vue"></script>
  <link rel="stylesheet" href="main.css">
</head>

<body>
  <img src="header.png" alt="header"></img>

  <section class="section">
    <div class="container">
      <div class="columns">

        <div class="column">

          <h3 class="title caps">
            YouTube jams
          </h3>
          <div class="video-container">
            <iframe src="https://www.youtube.com/embed/videoseries?list=PLp02SUiCrWeR5T7c9j5iOuT47mQ7HFH1W" frameborder="0" allowfullscreen></iframe>
          </div>

        </div><!-- column -->

        <div class="column is-one-third">

          <h3 class="title caps">
            Follow
            <span class="icon is-medium">
              <a href="https://twitter.com/nagasaki45"><ion-icon name="logo-twitter"></ion-icon></a>
            </span>
            <span class="icon is-medium">
              <a href="https://www.youtube.com/nagasaki45"><ion-icon name="logo-youtube"></ion-icon></a>
            </span>
            <span class="icon is-medium">
              <a href="mailto:nagasaki45@gmail.com"><ion-icon name="mail"></ion-icon></a>
            </span>
          </h3>

          <div id="gigs">
            <h3 class="title caps">
              Upcoming shows
            </h3>
            <table class="table is-fullwidth">
              <tbody>
                <tr v-for="gig in gigs" v-if="gig.when > yesterday">
                  <td><b>{{ formatDate(gig.when) }}</b></td>
                  <td v-html="gig.content"></td>
                </tr>
              </tbody>
            </table>

            <h3 class="title caps">
              Archive
            </h3>
            <table class="table is-fullwidth">
              <tbody>
                <tr v-for="gig in gigs.slice().reverse()" v-if="gig.when <= yesterday">
                  <td><b>{{ formatDate(gig.when) }}</b></td>
                  <td v-html="gig.content"></td>
                </tr>
              </tbody>
            </table>
          </div>

        </div><!-- column -->
      </div><!-- columns -->
    </div><!-- container -->

  </section>

<script>
function formatDate(date) {
  var monthNames = ['Jan', 'Feb', 'Mar', 'Apr', 'May', 'Jun', 'Jul', 'Aug',
                    'Sep', 'Oct', 'Nov', 'Dec'];
  return date.getDate() + ' ' +
         monthNames[date.getMonth() - 1] + ' ' +
	       date.getFullYear();
}

function getYesterday() {
  var today = new Date();
  today.setDate(today.getDate() - 1);
  return today;
}

new Vue({
  el: '#gigs',
  data: {
    yesterday: getYesterday(),
    gigs: [
      {
	      when: new Date(2018, 3, 21),
	      content: '<a href="https://www.facebook.com/events/511121392622338/">ElectrolightsAV VI</a><br >Rye Wax',
      },
      {
	      when: new Date(2018, 9, 29),
	      content: '<a href="https://therawandthecooked.intersections.io/cooked.html">The RAW and The COOKED</a><br >Café 1001'
      },
      {
	      when: new Date(2018, 10, 18),
	      content: '<a href="https://www.residentadvisor.net/events/1169850">ElectrolightsAV XII</a><br >New River Studios'
      },
      {
	      when: new Date(2019, 2, 23),
	      content: '<a href="https://www.meetup.com/London-modular-synthesis-group/events/258296806/">CV Freqs XI</a><br >IKLECTIK'
      },
      {
	      when: new Date(2019, 5, 1),
	      content: '<a href="https://www.facebook.com/events/291916704795175/">Sonic Electronics</a><br >The others'
      },
      {
	      when: new Date(2019, 6, 15),
              content: 'As <b>IDMT?</b> w/ <b><a href="https://lwlsn.github.io/">digital selves</a></b><br >ElectrolightsAV<br >New River Studios'
      },
    ]
  }
});
</script>

</body>

</html>
