<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="utf-8">
  <title>nagasaki45</title>
  <meta name="description" content="improvised / polymetric / modular / avant-pop / mess">
  <meta name="author" content="nagasaki45">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <link rel="stylesheet" href="css/bulma.min.css">
  <link rel="stylesheet" href="css/main.css">
</head>

<body>
  <img src="header.png" alt="header">

  <section class="section">
    <div class="container">
      <div class="columns">

        <div class="column">

          <h3 class="title caps">
            IDMT?
          </h3>
          <div class="video-container give-me-space">
            <iframe src="https://www.youtube.com/embed/videoseries?list=PLp02SUiCrWeSyo5_OZiUPJAWyOYjxn59h" frameborder="0" allowfullscreen></iframe>
          </div>

          <h3 class="title caps">
            YouTube jams
          </h3>
          <div class="video-container give-me-space">
            <iframe src="https://www.youtube.com/embed/videoseries?list=PLp02SUiCrWeR5T7c9j5iOuT47mQ7HFH1W" frameborder="0" allowfullscreen></iframe>
          </div>

        </div><!-- column -->

        <div class="column is-one-third">

          <h3 class="title caps">
            Follow
            <span class="icon is-medium">
              <a href="https://twitter.com/nagasaki45"><ion-icon name="logo-twitter"></ion-icon></a>
            </span>
            <span class="icon is-medium">
              <a href="https://www.youtube.com/nagasaki45"><ion-icon name="logo-youtube"></ion-icon></a>
            </span>
            <span class="icon is-medium">
              <a href="mailto:nagasaki45@gmail.com"><ion-icon name="mail"></ion-icon></a>
            </span>
          </h3>

          <div id="gigs">
            <h3 class="title caps">
              Upcoming shows
            </h3>
            <table v-if="areFutureGigs" class="table is-fullwidth">
              <tbody>
                <tr v-for="gig in gigs" v-if="gig.when > yesterday">
                  <td><b>{{ formatDate(gig.when) }}</b></td>
                  <td v-html="gig.content"></td>
                </tr>
              </tbody>
            </table>
            <p v-else class="give-me-space">Nothing at the moment</p>

            <h3 class="title caps">
              Archive
            </h3>
            <table class="table is-fullwidth">
              <tbody>
                <tr v-for="gig in gigs.slice().reverse()" v-if="gig.when <= yesterday">
                  <td><b>{{ formatDate(gig.when) }}</b></td>
                  <td v-html="gig.content"></td>
                </tr>
              </tbody>
            </table>
          </div>

        </div><!-- column -->
      </div><!-- columns -->
    </div><!-- container -->

  </section>

<script src="https://unpkg.com/ionicons@4.5.5/dist/ionicons.js"></script>
<script src="js/vue.min.js"></script>
<script src="js/main.js"></script>

</body>

</html>
